@model Backup_Service.Models.FilesViewModel
@{
    ViewData["Title"] = "Upload";
}
<body style="background-color:rgb(197, 208, 230);">
<div class="text-left">
    <h2 style="margin-bottom:50px">Backup Service</h2>

    <!-- In order to post files to server we should use form with post method, also need to add multipart/form-data encoding.
         Otherwise the files will not sent to the server. -->

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <button type="submit">Upload</button>
    </form>

    <!-- To show the success message to the user  -->
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:50px">
            @ViewBag.Message
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    }

    <p style="margin-top: 50px">List of Archives</p>
    <!-- Get all the files from the server -->
    <ul>
        @foreach (var item in Model.Files)
        {
            <li>
                <a asp-action="Download"
                   asp-route-filename="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>
    <form asp-controller="Home" asp-action="DownloadArchive" method="get">
        <td>Enter compression level (0-9)</td>
        <input type="number" name="compressionLevel" value=""/>
        <br /><br />
        <p class="text-left">
            <button class="btn btn-primary" type="submit" download>Download all files</button>
        </p>
    </form>
</div>
</body>
