@{
    ViewData["Title"] = "Exception";
}
<body style="background-color:rgb(197, 208, 220);">
    <div class="text-left">
    <h1 style="margin-bottom:50px">Your storage is full</h1>
    </div>
</body>